Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
Ans:
select * from(
select ename, sal, dense_rank() 
over(order by sal desc)r from Employee) 
where r=5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans:
Select distinct W.WORKER_ID, W.FIRST_NAME, W.Salary from Worker W, Worker W1
where W.Salary = W1.Salary
and W.WORKER_ID != W1.WORKER_ID;